@import "../../styles/variables";

.homepage {
  margin: 20px;

  .banner {
    background-image: url("./../../assets/banner/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    width: 100%;
    height: 19rem;
    margin: 0 auto;
    overflow: visible;
    position: relative;

    .profile-picture {
      background-image: url("./../../assets/banner/profile-picture.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      border-radius: 50%;
      width: 14em;
      height: 14em;
      top: 100%;
      right: 50%;
      transform: translate(50%, -50%);
      display: block;
      border: 2px $mainColor solid;
    }
  }
  .welcome-text {
    font-family: "GveretLevin";
    text-align: center;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    // padding-top: 3vw;
    font-size: 1.5vw;
    line-height: 3vw;
    width: 50%;

    background-image: url("../../assets/homepage/i-love-you.png");
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: 20% 100%;
  }
}
