* {
  box-sizing: border-box;
  text-decoration: none;
}

.he-language {
  direction: rtl;
  // font-family: "Varela Round", sans-serif;
}
.page-container {
  font-size: 1vw;
  margin: 0 8.5vw;
  padding-bottom: 5vh;
  margin-bottom: 5vh;
  min-height: 70vh;
  // position: relative;
}
